<!DOCTYPE html>
<html lang="pt-BR">
<head>

    {% block head %}

    <title>Wallison Silva</title>
    
    

    {% endblock %}

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portifolio" >Vídeos</a>
        </div>
    </header>

    {% block content %}
        
    {% endblock %}
    
</body>
</html>